<p>contador</p>
<div class="letter-count-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Column definitions -->
    <ng-container matColumnDef="letter">
      <th mat-header-cell *matHeaderCellDef> Letter </th>
      <td mat-cell *matCellDef="let element"> {{ element.letter }} </td>
    </ng-container>
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Count </th>
      <td mat-cell *matCellDef="let element"> {{ element.count }} </td>
    </ng-container>
    <!-- Table rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
