@import "../../../assets/styles/variables.scss";

mat-toolbar {
  color: white;
  background-color: $black;
}

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-toolbar img,
mat-toolbar span,
mat-toolbar p {
  padding: 20px;
  text-align: center;
  margin: 0 !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  width: auto;
}


