.mat-elevation-z8  {
  display:list-item;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.mat-header-cell {
  font-size: 15px;
  text-align: center;
}

