@import "../../../assets/styles/variables.scss";

.container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

//estilos de la tabla
.table-container {
  width: 90%;
  margin: 0 20px;
  min-height: 100%;
  background-color: #f2f2f2;
}

.mat-mdc-row{
  cursor: pointer;
}

.mat-header-cell {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.titlecase {
  text-transform: capitalize;
}

.mdc-data-table__header-cell {
  text-align: center;
}

.mdc-data-table__cell {
  text-align: center;
}


//estilos de la card

.card-container {
  width: 20%;
  margin: 0 20px;
  background-color: #f2f2f2
}

.example-card {
  text-transform: capitalize;
  height: 100%;

  .mat-card-title, .mat-card-subtitle, .mat-card-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.mat-mdc-card-header {
  display: block !important;
  padding: 16px 16px 0;
}

.mdc-card__actions{
  text-align: center;
  justify-content: center;
  align-items: center;
}
